{% extends 'layouts/site_layout.html.twig' %}

{% block title %}Catalog{% endblock %}

{% block content %}


    <div class="example-wrapper">

            {% for film in result%}

                    <div style="width:310px;height:670px;border:1px solid blue;float:left;">
                        <div style="width:310px;height:630px;text-align:center;">
                            <p>{{ film.title }}</p>
                            <p>{{ film.year }}</p>
                            <a href="/description/{{ film.id }}">
                                <img src="{{ film.poster }}"/>
                            </a>
                            <div style="width:100%;margin-top:10px;font-size:10px;">{{ film.plot }}</div>
                        </div>
                        <div style="width:100%;margin:0 auto;">
                            <div style="width:140px;margin-left:5px;float:left"><a href="/delete/{{film.id}}"><button type="button" class="btn btn-danger">REMOVE FILM</button></a></div>
                            {%  if film.id in favorites %}
                                <div style="width:160px;float:right"><a href="/removeFavorit/{{film.id}}"><button type="button" class="btn btn-secondary">REMOVE FM FAV</button></a></div>
                            {%  else %}
                                <div style="width:160px;float:right"><a href="/addFavorit/{{film.id}}"><button type="button" class="btn btn-warning">ADD TO FAVOR</button></a></div>
                            {%  endif %}
                        </div>
                    </div>

            {% endfor %}
    </div>
{% endblock %}


