{% extends 'layouts/site_layout.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block content %}


    <div class="example-wrapper">

            {% for film in result%}
                <a href="/description/{{ film.id }}">
                    <div style="width:310px;height:680px;border:1px solid green;float:left;">
                        <div style="width:310px;height:630px;">
                            <p>{{ film.title }}</p>
                            <p>{{ film.year }}</p>
                            <img src="{{ film.poster }}"/>
                            <p style="font-size:9px;">{{ film.plot }}</p>
                        </div>
                        <div style="width:100%;margin:0 auto;">
                            <div style="width:140px;float:left"><a href="/delete/{{film.id}}"><button type="button" class="btn btn-danger">REMOVE FILM</button></a></div>
                            {%  if film.id in favorites %}
                                <div style="width:160px;float:right"><a href="/removeFavorit/{{film.id}}"><button type="button" class="btn btn-secondary">REMOVE FM FAV</button></a></div>
                            {%  else %}
                                <div style="width:160px;float:right"><a href="/addFavorit/{{film.id}}"><button type="button" class="btn btn-warning">ADD TO FAVOR</button></a></div>
                            {%  endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
    </div>
{% endblock %}


